<div class="left-tab">
    {% for page_key in context.header|keys %}
        {% if context[page_key] is defined and context[page_key] != null %}
            {% set page = context[page_key] %}
            {% if page.sections is defined and page.sections is not null %}
                <div class="sections">
                    <div class="sections-wrapper">
                        {% if page.type is defined and page.type == "slider" %}
                            {% set section_index = 0 %}
                            {% for section in page.sections %}
                                <a onClick="window.sliderControll.goToSlider({{section_index}})">{{ section.title }}</a>
                                {% set section_index = section_index + 1 %}
                            {% endfor %}
                        {% else %}
                            {% for section in page.sections %}
                                <a href="{{ path(page.router) }}#{{ section.section_id }}">{{ section.title }}</a>
                            {% endfor %}
                        {% endif %}
                    </div>
                </div>
            {% endif %}
        {% endif %}
    {% endfor %}
</div>